$whiteText: #fff;
$greyText: grey;
$primaryColour: #455A64;
$secondaryColour: #343a40;
$thirdColour: lightblue;
$font-Nav: 'Oswald', sans-serif;
$font-title: 'Alfa Slab One', cursive;
$font-logo: 'Pacifico', cursive;
$shallowShadow: 0px 10px 30px -8px rgba(0, 0, 0, .1)
$veryLightGrey: #f7f7f7
$small: 820px
$verySmall: 520px
$large: 1400px
$medium: 1200px

body
    overflow-x: hidden
// Navigation Bar
.navContainer
    transition: ease-in-out 0.3s
    padding: 0 1em
    color: $whiteText
    position: absolute
    display: grid
    grid-template-columns: 20% auto
    left: 0
    top: 0
    width: 100%
    z-index: 9
    min-height: 80px
    @media screen and (max-width: $small)
        padding: 0 0.5em
        grid-template-columns: auto auto
    ul
        align-self: center
        justify-self: center
        justify-self: end
        font-family: $font-Nav
        font-weight: bold
        text-decoration-style: bold
        font-size: 14px
        letter-spacing: 0.09em
        padding-right: 15%
        float: right
        list-style-type: none
        @media screen and (max-width: $small)
            padding-right: 25px
        @media screen and (min-width: $large)
            padding-right: 15%
        li
            float: left
            padding: 0.9em 0.6em
            @media screen and (max-width: $small)
                padding-right: 0.6em 0.3em
            @media screen and (min-width: $large)
                padding-right: 0.9em 0.6em
            a
                cursor: pointer
                color: $whiteText
                padding: 5px
                text-decoration: none
            a:hover
                border-bottom: 1px black solid
            a:after
                content: ""
                position: absolute
                right: 0
                z-index: 100
                top: 0
                width: 10px
                height: 1px
                background: #555
    .logo
        align-self: center
        font-size: 25px
        justify-self: end
        letter-spacing: 0.05em
        font-family: $font-logo
.activeNav
    transition: ease-in-out 0.3s
    box-shadow: $shallowShadow
    position: fixed
    color: $primaryColour
    background-color: $whiteText
    ul
        li
            a
                color: $primaryColour


// Home Screen
.credGrid
    letter-spacing: 0.05em
    font-size: 20px
    width: 100%
    position: absolute
    top: 30%
    right: auto
    display: grid
    grid-column: auto
    grid-auto-rows: auto
    .iconsCred
        justify-self: center
        display: grid
        grid-gap: 0px 20px
        grid-template-columns: repeat(2, 1fr)
        svg
            height: 28px
            color: $whiteText
    button
        cursor: pointer
        color: $whiteText
        font-family: $font-title
        justify-self: center
        margin: 20px 0px
        border-radius: 25px
        height: 50px
        width: 200px
        font-size: 16px
        background: none
        padding: 15px
        align-self: center
        transition: 0.3s ease-in-out
    button:focus
        outline: none
    button:hover
        color: $primaryColour
        background-color: $whiteText
.homeScreen
    overflow-x: hidden
    background-color: black
    .homeCred
        grid-template-rows: 30px 110px 70px 
        display: grid
        justify-items: center
        font-family: $font-Nav
        color: $whiteText
        p
            color: $thirdColour
            font-size: 18px
        h2
            font-size: 50px
            @media screen and (max-width: $small)
                font-size: 30px
            @media screen and (min-width: $large)
                font-size: 50px
    .homeImg
        opacity: .7
    strong
        color: $thirdColour
        font-family: $font-logo

//About me 
.aboutMe
    display: grid
    grid-template-columns: 32% 68%
    grid-template-rows: 100%
    padding-top: 80px
    padding: inherit 20px
    height: 800px
    width: 100%
    @media screen and (max-width: $small)
        padding: 30px
        grid-template-columns: 5% 95%
    @media screen and (min-width: $large)
        padding: 30px
        grid-template-columns: 30% 70%
    img
        justify-self: center
        @media screen and (max-width: $small)
            height: 110px
            background-color: $primaryColour
            margin-top: 60px
            border-radius: 100%
        @media screen and (min-width: $large)
            justify-self: center
            background-color: yellow
            height: 120px
    .aboutMeTextGrid
        display: grid
        grid-auto-rows: auto
        height: 74%
        padding: 35px 50px
        p
            color: $primaryColour
            letter-spacing: 0.03em
        .aboutMeText
            line-height: 2em
            color: $greyText
    .languages
        img
            margin-top: 15px
            @media screen and (max-width: $large)
                height: 20px
                border-radius: 0px
                padding-top: 0px

        p
            font-weight: bold
        .languagesGrid
            display: grid
            grid-template-rows: auto
            grid-template-columns: repeat(5, 80px)
    .skills
        display: grid
        padding: 15px 0px
        p
            font-weight: bold
        svg
            height: 30px
        .skillsGrid
            display: grid
            @media screen and (max-width: $small)
                grid-template-columns: repeat(7, 80px)
            @media screen and (min-width: $large)
                grid-template-columns: repeat(9, 80px)
            grid-template-columns: repeat(8, 80px)
            grid-template-rows: auto
            grid-gap: 1em 0.5em
            div
                place-self: center
                align-self: center
                justify-self: center
            small
                justify-self: center
                align-self: center
                font-size: 10px
                color: $greyText
//Services
.servicesContainer
    height: 850px
    padding: 100px 0px
    width: 100%
    background-color: $veryLightGrey
    display: grid
    @media screen and (max-width: $medium)
        height: 900px
        padding: 50px 0px
    @media screen and (max-width: $small)
        height: 1400px
        padding: 0px 0px
        padding-bottom: 200px

    .serTitle
        font-weight: bold
        font-size: 25px
        justify-self: center
        align-self: start
        padding-bottom: 100px
    .separator
        margin: -30px auto
        height: 3px
        width: 100px
        border-radius: 50%
        background-color: $primaryColour
    .services
        align-content: start
        justify-items: center
        padding: 0px 30px
        display: grid
        grid-gap: 20px
        padding: 0px 50px
        grid-template-columns: repeat(3,auto)
        @media screen and (max-width: $medium)
            grid-template-columns: repeat(2,auto)
        @media screen and (max-width: $small)
            grid-template-columns: repeat(1,auto)
            margin: 0px 0px
        div
            @media screen and (max-width: $small)
                width: 100%
                height: 150px
            box-shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1)
            height: auto
            width: 310px
            padding: 30px
            align-self: stretch
            border-radius: 4px
            background-color: $whiteText
            line-height: 1.5em
        .servicesTitle
            font-weight: bold
        .servicesText
            color: $greyText

.portofolioContainer
    margin: 0px 6%
    height: 800px
    padding: 0px 30px
    background-color: $whiteText
    display: grid
    justify-items: stretch
    align-items: stretch
    grid-template-rows: 12% 100em
    height: 1600px
    @media screen and (max-width: $medium)
        height: 2400px
        grid-template-rows: 8% auto
        grid-template-columns:  auto
    @media screen and (max-width: $small)
        height: 2600px
        margin: 0px
        grid-template-rows: 6% auto
        grid-template-columns:  auto
    .serTitle
        @media screen and (max-width: $medium)
            height: 20px
        grid-template-columns:  auto
        place-self: center
        align-self: start
        font-weight: bold
        font-size: 25px
    .separator
        margin: -30px auto
        height: 3px
        width: 100px
        border-radius: 50%
        background-color: $primaryColour
    .portofolioContent
        display: grid
        grid-template-columns: repeat(1,auto)
        grid-gap: 15px
        @media screen and (max-width: $medium)
            grid-gap: 5px
            grid-auto-rows: 400px
            grid-auto-columns: 400px
        @media screen and (max-width: $small)
            grid-gap: 5px
            grid-template-columns: auto
            grid-template-rows: repeat(1,600px)


.hoverCard
    box-shadow: none !important
    width: 100%
    .Front
        @media screen and (max-width: $medium)
            height: 400px
            width: 100%
        @media screen and (max-width: $small)
            height: 100%
            width: 100%
        width: 100%
        display: grid
        justify-items: center
        align-items: center
        grid-template-column: auto
        grid-template-rows: auto 4px auto
        justify-items: center
        align-items: center
        background-color: $veryLightGrey
        .seper
            height: 2px
            width: 200px
            border-radius: 5px
            background-color: $primaryColour
        i
            color: $primaryColour
            place-self: center
            align-self: center

        div
            display: grid
            justify-items: center
            svg
                color: $primaryColour
                height: 100px
    .Back
        width: 100%
        background-color: $primaryColour
        color: $whiteText
        display: grid
        padding: 0px 40px
        padding-top: 20px
        grid-template-rows: 20% 35% auto
        grid-template-column: 60%
        justify-self: stretch
        justify-items: center
        align-items: center
        box-shadow: $shallowShadow
        h4
            align-self: center
            place-self: center
            justify-self: center
            align-self: center 
        p
            color: $greyText
            place-self: center
            justify-self: start
            align-self: start 
        div
            display: grid
            justify-items: center
            svg
                place-self: center
                align-self: center 
                cursor: pointer
                height: 35px
#chattingSystem
    grid-row: span 2
    grid-column: span 2
    @media screen and (max-width: $medium)
        height: 100%
        width: 100%
        grid-row: span 1
        grid-column: span 2
    @media screen and (max-width: $small)
        height: 100%
#blogDjango
    grid-row: span 1
    grid-column: span 2
    @media screen and (max-width: $medium)
        height: 100%
        grid-row: span 1
        grid-column: span 2
#recipeWebsite
    @media screen and (max-width: $medium)
        height: 100%
        grid-row: span 1
        grid-column: span 2
#cryptoPr
    @media screen and (max-width: $medium)
        height: 100%
        width: 100%
        grid-row: span 1
        grid-column: span 2
#homeHub
    @media screen and (max-width: $medium)
        height: 100%
        width: 100%
        grid-row: span 1
        grid-column: span 2

#navSystem
    @media screen and (max-width: $medium)
        height: 100%
        width: 100%
        grid-row: span 1
        grid-column: span 2
.newtitle
    font-family: $font-title

.timelineContainer
    display: grid
    padding: 100px 0px
    grid-template-rows: 100px 100px auto
    margin-top: 300px
    height: 2500px
    background-color: $veryLightGrey
    h1
        justify-self: center
        font-size: 4em
        letter-spacing: 1px
    .timelineHeaders
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-template-rows: 100px 100px
        h4
            align-self: end
            justify-self: center
        small
            align-self: start
            color: $greyText
            justify-self: center

.timeLine
    .timelineCircles
        grid-column: 2
        grid-row: 1
        display: grid
        grid-template-rows: repeat(auto-fill, 370px)
        .lifelineCircles
            margin-top: 30px
            justify-self: center
            border-radius: 100%
            z-index: 1
            height: 85px
            width: 85px
            background-color: black
            box-shadow: $shallowShadow
            display: grid
            p
                font-size: 12px
                color: $whiteText
                justify-self: center
                font-weight: bold
                align-self: center
        .careerlineCircles
            justify-self: center
            border-radius: 100%
            box-shadow: $shallowShadow
            z-index: 1
            height: 85px
            width: 85px
            background-color: black
            display: grid

            p
                color: $whiteText
                font-size: 12px
                font-weight: bold
                justify-self: center
                align-self: center
    grid-row: 3
    display: grid
    grid-template-columns: 45% 10% 45%
    .mylife
        grid-column: 1
        display: grid
        grid-template-rows: repeat(auto-fill, 750px)
    .career
        grid-column: 3
        display: grid
        grid-template-rows: repeat(auto-fill, 750px)
    hr
        left: 50%
        grid-column: 2
        position: absolute
        justify-self: center
        width: 5px
        border-radius: 100px
        margin-top: 0px
        background-color: #000
        border: none

.mylifeCard
    margin-top: 30px
    padding: 1em
    background-color: $whiteText
    justify-self: center
    width: 80%
    box-shadow: $shallowShadow
    border-radius: 10px
    height: 650px
    display: grid
    grid-template-rows: auto 
    .locationCard
        margin-top: 7px
        font-size: 15px
        color: $greyText
        strong
            color: grey
    img
        justify-self: center
        max-width: 100%
        width: auto
        z-index: 1
    .title
        border-bottom: solid rgb(232, 232, 232) 1px
        margin-top: 15px
        z-index: 1
        font-size: 30px
        a
            text-decoration: none
            color: rgb(69, 112, 230)
        a:hover
            text-decoration: underline
    .cardText
        color: $greyText
        margin: 20px 0px
        padding: 20px 0px
        border-bottom: solid rgb(232, 232, 232) 1px
    .cardSign
        justify-self: end
        color: black
        font-weight: bold
        font-family: $font-logo

// Cards on .timeLine
.leftArrow
    height: 25px
    width: 25px
    transform: rotate(45deg)
    left: 40.7%
    z-index: 0
    position: absolute
    background-color: inherit
.rightArrow
    height: 25px
    width: 25px
    margin-top: 350px
    transform: rotate(45deg)
    left: 57.5%
    z-index: 0
    position: absolute
    background-color: inherit


.op
    input
        opacity: 0.1

    text
        opacity: 0.1

    .buttonMessage
        opacity: 0.1
    textarea
        opacity: 0.1

    .loaderContainer
        border-radius: 5px
        margin-top: 100px
        height: 50%
        width: 800px
        position: absolute
        .css-0
            padding: 10px auto
            margin: 25%   
            margin-left: 50%
.contactContainer
    .error
        border: solid 1px #b30000
    height: 600px
    margin: 80px auto
    width: 80%
    padding: 0px 30px
    display: grid
    grid-template-columns: auto auto
    @media screen and (max-width: $small)
        width: 90%
    h1
        grid-column: span 2
        place-self: center
        align-self: start
        font-size: 3em
        letter-spacing: 1px
    input
        border-radius: 5px
        justify-self: center
        padding: 5px 25px
        font-size: 17px
        border: 1px 
        height: 50px
        color: $primaryColour
        width: inherit
        background-color: $veryLightGrey
        @media screen and (max-width: $small)
            grid-column: span 2

    input:focus
        outline: none
    textarea
        border-radius: 5px
        justify-self: center
        background-color: $veryLightGrey
        border: none
        height: 100px
        width: inherit
        resize: none
        font-size: 17px
        padding: 25px
        grid-column: span 2
    textarea:focus
        outline: none
    .buttonMessage
        grid-column: span 2
        place-self: center
    a
        cursor: pointer
        padding: 20px 50px
        background-color: black
        color: white
        text-decoration: none
        font-weight: bold
        box-shadow: $shallowShadow
        border-radius: 7px
        border: solid 1px black
        transition: ease-in-out .2s
    a:hover
        border: solid $greyText 1px
        background-color: white
        color: $greyText
.footer
    display: grid
    grid-template-columns: 33% 33% 33%
    height: 300px
    width: 100%
    background-color: #1b1b1b
    @media screen and (max-width: $small)
        grid-template-columns: 100%
        height: 500px

    div
        justify-self: center
        align-self: center
        display: grid
        align-items: center
        justify-items: center
        grid-template-rows: auto 40px 20px
        color: $greyText
        i
            color: $greyText !important
        .footerTitle
            color: white
            font-weight: bold
#subject
    grid-column: span 2
    width: inherit
#name
    justify-self: end
    width: 75%
    @media screen and (max-width: $small)
        width: 90%
        justify-self: center
#email
    justify-self: center
    width: 60%
    @media screen and (max-width: $small)
        width: 90%
.active
    transition-timing-function: ease-out;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1)
    /* A litttttle slower on the way in */
    border-bottom: 1px solid black